{% extends "base.html" %}

{% block content %}
<center>
    <h1>Sign In</h1>
</center>
<form action="/login" method="post" name="login">
   {{ form.hidden_tag() }}
   <center>
	   <table border='1'>
	   <tr>
		   <td>Your name:</td><td>{{ form.user_name }}</td>
	   </tr>
	   {% for error in form.errors.user_name %}
	   <tr><td colspan='2'> 
	 	   <font style="color:red">[-] {{ error }}</font>
	   </td></tr>
	   {% endfor %}
	   <tr>
		   <td>Password:</td><td>{{ form.user_password }}</td>
	   </tr> 
	   {% for error in form.errors.user_password %}
	   <tr><td colspan='2'> 
	 	   <font style="color:red">[-] {{ error }}</font>
	   </td></tr>
	   {% endfor %}
	   <!--
	   <tr><td colspan='2'> 
	       记住我？ {{ form.remember_me }}
	   </td></tr>
	   --!>
	   <tr><td colspan='2' align='middle'> 
	   	   {{ form.submit }} | <a href="sign-up">sign_up</a>
	   </td></tr>   
	   </table>
   </center>
</form>
{% endblock %}
